section.section-about
  .container
    .title магазин Kids House — <div>О нас</div>
    .text-wrapper
      .fl-l.img-wrapper
        img(src="img/about-img.jpg", alt="")
      p Главная особенность этой одежды заключается в том, что она подходит для суровых погодных условий. Ее создают с использованием качественных материалов и утеплителей. Они являются достаточно прочными, что обеспечивает надежную защиту от холода и ветра. Одежда Ленне отлично сохраняет тепло.
      p Важно, что материал не только теплый, но еще легкий, водонепроницаемый и быстросохнущий. Его уникальная поверхность способна оставаться эластичной и мягкой даже при температуре в -25 градусов.
      p Одежда Lenne - это гармоничное сочетание комфорта, молодежного стиля и высочайшего качества. Можете не сомневаться – она непременно понравится вашему ребенку, который будет носить ее с большим удовольствием.
      p Преимуществом одежды Lenne является еще и то, что она не нуждается в особом уходе. Все мамы знают, что дети – большие непоседы. Малышей трудно заставить вести себя аккуратно, чтобы не испачкать одежду. Однако купив комбинезон Lenne, вы сможете избавить себя от таких проблем. Чтобы убрать грязь, достаточно протереть вещи мокрой губкой, и они будут выглядеть как новые.
      h4 Подзаголовок
      p Главная особенность этой одежды заключается в том, что она подходит для суровых погодных условий. Ее создают с использованием качественных материалов и утеплителей. Они являются достаточно прочными, что обеспечивает надежную защиту от холода и ветра. Одежда Ленне отлично сохраняет тепло.
      p Важно, что материал не только теплый, но еще легкий, водонепроницаемый и быстросохнущий. Его уникальная поверхность способна оставаться эластичной и мягкой даже при температуре в -25 градусов.
      p Одежда Lenne - это гармоничное сочетание комфорта, молодежного стиля и высочайшего качества. Можете не сомневаться – она непременно понравится вашему ребенку, который будет носить ее с большим удовольствием.
      p Преимуществом одежды Lenne является еще и то, что она не нуждается в особом уходе. Все мамы знают, что дети – большие непоседы. Малышей трудно заставить вести себя аккуратно, чтобы не испачкать одежду. Однако купив комбинезон Lenne, вы сможете избавить себя от таких проблем. Чтобы убрать грязь, достаточно протереть вещи мокрой губкой, и они будут выглядеть как новые.
      a.about-btn(href="javascript:void(0)") Пошив одежды на заказ
