.container
  .basket-block
    h2.catalog-name Ваши покупки -
    h3.catalogzagal корзина
    .basket-table
      table
        tr
          th Фото
          th Название
          th Количество
          th Стоимость
          th Сума
          th &nbsp;
        tr
          td
            a(href="#")
              img(src="./img/item-small-1.jpg")
          td
            a(href="#") Детский костюмчик узорчастый
            span Odji
          td
            input.spinner(type="text",value="1")
          td 379 грн.
          td 379 грн.
          td
            a(href="#")
              img(src="./img/delete.png")
        tr
          td
            a(href="#")
              img(src="./img/item-small-1.jpg")
          td
            a(href="#") Детский костюмчик узорчастый
            span Odji
          td
            input.spinner(type="text",value="1")
          td 379 грн.
          td 379 грн.
          td
            a(href="#")
              img(src="./img/delete.png")
        tr
          td
            a(href="#")
              img(src="./img/item-small-1.jpg")
          td
            a(href="#") Детский костюмчик узорчастый
            span Odji
          td
            input.spinner(type="text",value="1")
          td 379 грн.
          td 379 грн.
          td
            a(href="#")
              img(src="./img/delete.png")
    .basket-itogo
      .basket-promo
        input(type="text", value="", placeholder="Промо код")
        input(type="button", value="Применить")
      .basket-summa
        div
          label Ваша скидка:
          span 0 грн.
        div
          label Итого:
          span.itog 1268 грн.
    .basket-button
      a.btn.finish-order(href="#") Оформить заказ
