section.section-main-slider
	.index-slider
		.slider-item
			.container
				.clearfix
					.fl-l.slide-img
						img(src="img/girls.png", alt="")
					.fl-r
						.slider-text
							.slider-title Детская коллекция
							.slider-title--big Лето 2016
							.slider-lead Лучшие цены от <span>70</span> грн.
							.slider-lead--small Новая летняя детская одежда
							.slider-btn-wrapper
								a.slider-btn(href="javascript:void(0)") Купить сейчас
								a.slider-btn(href="javascript:void(0)") в каталог
		.slider-item
			.container
				.clearfix
					.fl-l.slide-img
						img(src="img/girls.png", alt="")
					.fl-r
						.slider-text
							.slider-title Детская коллекция
							.slider-title--big Лето 2016
							.slider-lead Лучшие цены от <span>70</span> грн.
							.slider-lead--small Новая летняя детская одежда
							.slider-btn-wrapper
								a.slider-btn(href="javascript:void(0)") Купить сейчас
								a.slider-btn(href="javascript:void(0)") в каталог
	.slider-arr
		a(href="javascript:void(0)").slick-prev
		a(href="javascript:void(0)").slick-next

section.section-body-btns
	.container
		.row
			a.body-btn(href="javascript:void(0)") Новая коллекция
			a.body-btn(href="javascript:void(0)") Популярное
			a.body-btn(href="javascript:void(0)") Акционные товары
			a.body-btn(href="javascript:void(0)") Лидеры продаж
			a.body-btn(href="javascript:void(0)") Пошив одежды на заказ

section.section-grid
	.container
		.grid-block--normal--vertical
			.title Детские <span>Футболки</span>
			.img-wrapper
				img(src="img/vertical-block-img-1.png", alt="")
		.grid-block.grid-block--small
			.title Детская обувь
			.price От 120 грн.
			.age 0-12 лет.
			.img-wrapper
				img(src="img/small-block-img-1.png", alt="")
		.grid-block.grid-block--normal
			.title Трендовая одежда —
			.title--big Для детей
			.lead Летняя коллекция
			a(href="javascript:void(0)").link В магазин >

		.grid-block.grid-block--normal.grid-block--normal--right
			.title — Трендовые рубашки
			.title--big от <span>124</span> грн
			.lead Коллекция 2016
			a(href="javascript:void(0)").link В магазин >
			.img-wrapper
				img(src="img/normal-block-img-1.png", alt="")
		.grid-block.grid-block--small
			.title Одежда<br>для<br>ребенка
			.price.price-2 Цена:<br>от 85 грн.
			.age 0-5 лет.
			.img-wrapper
				img(src="img/small-block-img-2.png", alt="")


section.section-benefits
	.container
		.row
			.title Почему kids house?
			.benefits-box
				.img-wrapper
					img(src="img/benefits-ico-1.png", alt="")
				.benefits-title удобство
				.lead Использование только 100% натуральных тканей позволяет телу ребенка дышать, а удобство моделей - не  ограничивает подвижность и енергичность малыша.
			.benefits-box
				.img-wrapper
					img(src="img/benefits-ico-2.png", alt="")
				.benefits-title Высокое качество
				.lead Благодаря высокому качеству материалов и изготовления, одежда Kids House - будет служить длительное время Вашему ребенку.
			.benefits-box
				.img-wrapper
					img(src="img/benefits-ico-3.png", alt="")
				.benefits-title Доступные цены
				.lead Разумное сочетание качества цены и стиля не могут не радовать. И конечно же Вас не оставят равнодушными скидки на прошлые коллекции и интерестные акции.
			.benefits-box
				.img-wrapper
					img(src="img/benefits-ico-4.png", alt="")
				.benefits-title Эксклюзивность
				.lead Детская одежда Kids House<br>эксклюзивная! Тем самым подчеркивает индивидуальность<br>Вашего ребенка, делая его не<br>похожим на других. Каждая вещь -  это плод фантазии, любви, сочетания уникальных фактур и конечно же от души.


section.section-clients
	.container
		.title Отзывы наших клиентов
		.clients-slider-img
			.slider-item
				.img-wrapper
					img(src="img/person-1.png", alt="")
				.text-wraper
					.info Заказала своей Сонечки платьеце для праздника Дня Рождения. Во-первых очень порадовала быстрая доставка, во-вторых как было все упаковано - мило и со вкусом))) И конечно само платьеце потрясающее! Дочь кружилась в нем весь праздник и была настоящей принцессой! Спасибо Вам огромное:*
					.avtor Александра Лукашенко
					.prof фотограф
			.slider-item
				.img-wrapper
					img(src="img/person-1.png", alt="")
				.text-wraper
					.info Заказала своей Сонечки платьеце для праздника Дня Рождения. Во-первых очень порадовала быстрая доставка, во-вторых как было все упаковано - мило и со вкусом))) И конечно само платьеце потрясающее! Дочь кружилась в нем весь праздник и была настоящей принцессой! Спасибо Вам огромное:*
					.avtor Александра Лукашенко
					.prof фотограф
			.slider-item
				.img-wrapper
					img(src="img/person-1.png", alt="")
				.text-wraper
					.info Заказала своей Сонечки платьеце для праздника Дня Рождения. Во-первых очень порадовала быстрая доставка, во-вторых как было все упаковано - мило и со вкусом))) И конечно само платьеце потрясающее! Дочь кружилась в нем весь праздник и была настоящей принцессой! Спасибо Вам огромное:*
					.avtor Александра Лукашенко
					.prof фотограф
			.slider-item
				.img-wrapper
					img(src="img/person-1.png", alt="")
				.text-wraper
					.info Заказала своей Сонечки платьеце для праздника Дня Рождения. Во-первых очень порадовала быстрая доставка, во-вторых как было все упаковано - мило и со вкусом))) И конечно само платьеце потрясающее! Дочь кружилась в нем весь праздник и была настоящей принцессой! Спасибо Вам огромное:*
					.avtor Александра Лукашенко
					.prof фотограф
			.slider-item
				.img-wrapper
					img(src="img/person-1.png", alt="")
				.text-wraper
					.info Заказала своей Сонечки платьеце для праздника Дня Рождения. Во-первых очень порадовала быстрая доставка, во-вторых как было все упаковано - мило и со вкусом))) И конечно само платьеце потрясающее! Дочь кружилась в нем весь праздник и была настоящей принцессой! Спасибо Вам огромное:*
					.avtor Александра Лукашенко
					.prof фотограф
			.slider-item
				.img-wrapper
					img(src="img/person-1.png", alt="")
				.text-wraper
					.info Заказала своей Сонечки платьеце для праздника Дня Рождения. Во-первых очень порадовала быстрая доставка, во-вторых как было все упаковано - мило и со вкусом))) И конечно само платьеце потрясающее! Дочь кружилась в нем весь праздник и была настоящей принцессой! Спасибо Вам огромное:*
					.avtor Александра Лукашенко
					.prof фотограф
	.buttom
		a.btn(href="#") Все отзывы
		a.btn(href="#") Оставить отзыв

		//- .clients-slider-text
		//- 	.slider-item
		//- 		.clients-text Заказала своей Сонечки платьеце для праздника Дня Рождения. Во-первых очень порадовала быстрая доставка, во-вторых как было все упаковано - мило и со вкусом))) И конечно само платьеце потрясающее! Дочь кружилась в нем весь праздник и была настоящей принцессой! Спасибо Вам огромное:*
		//- 		.text-author Александра Лукашенко
		//- 		.author-position фотограф
		//- 	.slider-item
		//- 		.clients-text Заказала своей Сонечки платьеце для праздника Дня Рождения. Во-первых очень порадовала быстрая доставка, во-вторых как было все упаковано - мило и со вкусом))) И конечно само платьеце потрясающее! Дочь кружилась в нем весь праздник и была настоящей принцессой! Спасибо Вам огромное:*
		//- 		.text-author Александра Лукашенко
		//- 		.author-position фотограф
		//- 	.slider-item
		//- 		.clients-text Заказала своей Сонечки платьеце для праздника Дня Рождения. Во-первых очень порадовала быстрая доставка, во-вторых как было все упаковано - мило и со вкусом))) И конечно само платьеце потрясающее! Дочь кружилась в нем весь праздник и была настоящей принцессой! Спасибо Вам огромное:*
		//- 		.text-author Александра Лукашенко
		//- 		.author-position фотограф
