.container
  .rightblock
    .catalog---list
      .catalog--item
        label.catalog--item--sale sale
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item2-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        label.catalog--item--new NEW
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item3-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        label.catalog--item--new NEW
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item3-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.

    .page-nav
      ul.pager--list
        li
          a(href="#") <
        li
          a(href="#") 1
        li
          a(href="#") 2
        li
          a(href="#") 3
        li
          a(href="#") 4
        li
          span ...
        li
          a(href="#") 5
        li
          a(href="#") 6
        li
          a(href="#") >
      a.btn.btn-blue(href="#") Пошив одежды на заказ

  .leftblock
    h2.catalog-name Трендовая одежда
    h3.catalogzagal Каталог
    .filter-block
      .filter--item
        a.filter-url(href="#") Для мальчика
        a.filter-url(href="#") 80 грн. - 400 грн.
        a.filter-url(href="#") De Adelina
      .filter--item
        .checkbox
          input#cb1(type="checkbox", checked)
          label(for="cb1") Мальчик
        .checkbox
          input#cb2(type="checkbox")
          label(for="cb2") Девочка
      .filter--item
        .filter--item--name Цена:
        .filter--item--sum
          input#filter-min(type="text")
          span
          input#filter-max(type="text")
        div#slider-range
      .filter--item
        .filter--item--name Размеры
        .filter--item--name Для мальчиков - Для девочек
        a.filter-url2(href="#") 2-3 (98)
        a.filter-url2(href="#") 4-5(110)
        a.filter-url2.active(href="#") 6-7(122)
        a.filter-url2(href="#") 8-9(134)
        a.filter-url2(href="#") 3-4 (104)
        a.filter-url2(href="#") 5-6(116)
        a.filter-url2(href="#") 7-8(128)
        a.filter-url2(href="#") 9-10(140)
      .filter--item
        .filter--item--name Материал:
        .checkbox
          input#cb11(type="checkbox", checked)
          label(for="cb11") 50% Хлопок
        .checkbox
          input#cb21(type="checkbox")
          label(for="cb21") Полиестер
      .filter--item
        .filter--item--name Цвет:
        .checkbox-color(style="background:#333742")
          input#cb31(type="checkbox")
          label(for="cb31")
        .checkbox-color(style="background:#6d707b")
          input#cb32(type="checkbox", checked)
          label(for="cb32")
        .checkbox-color(style="background:#e3e4e7")
          input#cb33(type="checkbox", checked)
          label(for="cb33")
        .checkbox-color(style="background:#4542b1")
          input#cb34(type="checkbox")
          label(for="cb34")
        .checkbox-color(style="background:#008bf6")
          input#cb35(type="checkbox")
          label(for="cb35")
        .checkbox-color(style="background:#3fd3ce")
          input#cb36(type="checkbox")
          label(for="cb36")
        .checkbox-color(style="background:#f98d36")
          input#cb37(type="checkbox")
          label(for="cb37")
        .checkbox-color(style="background:#ffea00")
          input#cb38(type="checkbox")
          label(for="cb38")
        .checkbox-color(style="background:#9bcd4c")
          input#cb39(type="checkbox", checked)
          label(for="cb39")
        .checkbox-color(style="background:#e34444")
          input#cb310(type="checkbox")
          label(for="cb310")
        .checkbox-color(style="background:#db8ce4")
          input#cb311(type="checkbox", checked)
          label(for="cb311")
      a.url-clear(href="#") Очистить фильтр
