.full-wrapper
	.container
		.inside-block
			.inside-title Подпишитесь, чтобы знать про все новинки!
			.inside-lead Будьте впереди технологий и получайте много бонусов и скидок
			form(action="index.html", method="post")
				input(type="text", name="name", value="" placeholder="Введите Ваш Email")
				input(type="submit", name="name", value="Подписаться")


.main-footer
	.container
		.fl-l.footer-block.footer-block--main
			.logo.logo--footer.clearfix
				.fl-l
					img(src="../img/logo-footer.png", alt="")
				.fl-r
					.logo-text Kids House
			.footer-text.footer-main-info
				div © 2016 Kids House
				div Интернет-магазин одежды для детей
			a(href="javascript:void(0)").footer-link.footer-link--main Обратная связь
		.fl-l.footer-block.footer-block--secondary
			.footer-title Доставка и оплата
			.footer-text.footer-info
				a.footer-link(href="javascript:void(0)") Каталог
				a.footer-link(href="javascript:void(0)") Доставка и Оплата
				a.footer-link(href="javascript:void(0)") Обмен и возврат
				a.footer-link(href="javascript:void(0)") Часто задаваемые вопросы
		.fl-l.footer-block.footer-block--secondary
			.footer-title Сервис
			.footer-text.footer-info
				a.footer-link(href="javascript:void(0)") Как выбрать размер
				a.footer-link(href="javascript:void(0)") Регистрация и личный кабинет
				a.footer-link(href="javascript:void(0)") Корзина
				a.footer-link(href="javascript:void(0)") Отзывы
		.fl-l.footer-block.footer-block--secondary
			.footer-title О нас
			.footer-text.footer-info
				a.footer-link(href="javascript:void(0)") Новости
				a.footer-link(href="javascript:void(0)") Сотруднечиство с нами
				a.footer-link(href="javascript:void(0)") Вакансии
