.header-top
	.container
		.fl-l пн-пт с 10:00 до 19:00
		.fl-r
			.header-links
				a(href="tel:+380933450345").header-link.header-link--phone Life +38 093 345 03 45
				a(href="tel:+380500256707").header-link.header-link--phone мтс +38 050 025 67 07
				a(href="javascript:void(0)").header-link.header-link--link Обратная связь
.header-main
	.container
		.fl-l
			a(href="javascript:void(0)").logo.clearfix
				.fl-l
					img(src="../img/logo.png", alt="")
				.fl-r
					.logo-text Kids House
		.fl-r.header-padding
			.header-menu
				ul
					li 
						a.menu-item(href="javascript:void(0)") Для девочек
					li 
						a.menu-item(href="javascript:void(0)") Для мальчиков
					li 
						a.menu-item(href="javascript:void(0)") Для новорожденных
					li 
						a.menu-item(href="javascript:void(0)") Для мам
					li 
						a.menu-item(href="javascript:void(0)") О нас
					li 
						a.menu-item(href="javascript:void(0)") Контакты
						
			a.header-ico.header--search(href="javascript:void(0)")
			a.header-ico.header--basket(href="javascript:void(0)")
				span.basket-counter 3
				
