.container
  .rightblock
    .product-item
      h1 Черный костюм для мальчика от De Adelina
      .product--content
        .product--img
          .product--img-big
            img(src="./img/item-big.jpg")
          ul.product--img-small
            li.active
              a(href="./img/item-big.jpg")
                img(src="./img/item-small-1.jpg")
            li
              a(href="./img/item-big.jpg")
                img(src="./img/item-small-2.jpg")
            li
              a(href="./img/item-small-3.jpg")
                img(src="./img/item-small-3.jpg")
        .product--info
          h3 Характеристика:
          table
            tr
              th Код:
              td gd000368159
            tr
              th ПодТип одежды:
              td Курточка
            tr
              th Торговая марка:
              td De Adel
            tr
              th Страна-производитель:
              td Белорусия
            tr
              th Возраст:
              td 6 лет, 7 лет
            tr
              th Пол:
              td Девочка
            tr
              th Материал:
              td Поплин
            tr
              th Состав:
              td 60% хлопок, 40% полиэстр
          h3 Размеры:
          .product--razmeri
            span 116-122
            span 122-128
            span 128-134
            span 134-140
            span 140-146
          h3 Варианты цветов:
          .product--color
            span(style="background:#333742")
            span(style="background:#6d707b")
            span(style="background:#e3e4e7")
            span(style="background:#3f66d3")
            span(style="background:#000")
          h3 Цена:
          .product--price
            .col-buy
              a.btn.btn-buy Купить
              input#spinner(type="text",value="1")
            span 1990.00 грн
      h2 Описание:
      .product-description
        p Главная особенность этой одежды заключается в том, что она подходит для суровых погодных условий. Ее создают с использованием качественных материалов и утеплителей. Они являются достаточно прочными, что обеспечивает надежную защиту от холода и ветра. Одежда Ленне отлично сохраняет тепло.
        p Важно, что материал не только теплый, но еще легкий, водонепроницаемый и быстросохнущий. Его уникальная поверхность способна оставаться эластичной и мягкой даже при температуре в -25 градусов.
        p Одежда Lenne - это гармоничное сочетание комфорта, молодежного стиля и высочайшего качества. Можете не сомневаться – она непременно понравится вашему ребенку, который будет носить ее с большим удовольствием.

    h2.h2title рекомендуемые товары:
    .catalog---list
      .catalog--item
        label.catalog--item--sale sale
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item2-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        label.catalog--item--new NEW
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item3-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.

  .leftblock
    h2.catalog-name Трендовая одежда
    h3.catalogzagal Каталог
    .filter-block
      .filter--item
        a.filter-url(href="#") Для мальчика
        a.filter-url(href="#") 80 грн. - 400 грн.
        a.filter-url(href="#") De Adelina
      .filter--item
        .checkbox
          input#cb1(type="checkbox", checked)
          label(for="cb1") Мальчик
        .checkbox
          input#cb2(type="checkbox")
          label(for="cb2") Девочка
      .filter--item
        .filter--item--name Цена:
        .filter--item--sum
          input#filter-min(type="text")
          span
          input#filter-max(type="text")
        div#slider-range
      .filter--item
        .filter--item--name Размер
        a.filter-url2(href="#") 2-3 (98)
        a.filter-url2(href="#") 4-5(110)
        a.filter-url2.active(href="#") 6-7(122)
        a.filter-url2(href="#") 8-9(134)
        a.filter-url2(href="#") 3-4 (104)
        a.filter-url2(href="#") 5-6(116)
        a.filter-url2(href="#") 7-8(128)
        a.filter-url2(href="#") 9-10(140)
        .filter--item--name Для новорожденных
        a.filter-url2.big(href="#") 0-1 мес (56)
        a.filter-url2.big(href="#") 3-6 мес (68)
        a.filter-url2.big.active(href="#") 9-12 мес(80)
        a.filter-url2.big(href="#") 18-24 мес (92)
        a.filter-url2.big(href="#") 1-3 мес (62)
        a.filter-url2.big(href="#") 6-9 мес(74)
        a.filter-url2.big(href="#") 12-18мес (86)
      .filter--item
        .filter--item--name Материал:
        .checkbox
          input#cb11(type="checkbox", checked)
          label(for="cb11") 50% Хлопок
        .checkbox
          input#cb21(type="checkbox")
          label(for="cb21") Полиестер
      .filter--item
        .filter--item--name Цвет:
        .checkbox-color(style="background:#333742")
          input#cb31(type="checkbox")
          label(for="cb31")
        .checkbox-color(style="background:#6d707b")
          input#cb32(type="checkbox", checked)
          label(for="cb32")
        .checkbox-color(style="background:#e3e4e7")
          input#cb33(type="checkbox", checked)
          label(for="cb33")
        .checkbox-color(style="background:#4542b1")
          input#cb34(type="checkbox")
          label(for="cb34")
        .checkbox-color(style="background:#008bf6")
          input#cb35(type="checkbox")
          label(for="cb35")
        .checkbox-color(style="background:#3fd3ce")
          input#cb36(type="checkbox")
          label(for="cb36")
        .checkbox-color(style="background:#f98d36")
          input#cb37(type="checkbox")
          label(for="cb37")
        .checkbox-color(style="background:#ffea00")
          input#cb38(type="checkbox")
          label(for="cb38")
        .checkbox-color(style="background:#9bcd4c")
          input#cb39(type="checkbox", checked)
          label(for="cb39")
        .checkbox-color(style="background:#e34444")
          input#cb310(type="checkbox")
          label(for="cb310")
        .checkbox-color(style="background:#db8ce4")
          input#cb311(type="checkbox", checked)
          label(for="cb311")
      a.url-clear(href="#") Очистить фильтр
