doctype
html
	include pug-templates/head.pug
	body
		#main-content.main-content.about-content
			header.page-header
				include pug-templates/header.pug

			.page-body
				include pug-templates/about.pug

			footer.page-footer
				include pug-templates/footer.pug


		//-scripts file
		include pug-templates/scripts.pug
