.section-about
  margin-bottom 15px
  .title
    font-size 18px
    text-transform uppercase
    color _main-black
    letter-spacing 1px
    div
      color _main-color
      font-size 24px
      font-family 'Days Sans'
      padding-top 10px

.text-wrapper
  padding-top 20px
  .img-wrapper
    margin-right 30px
    margin-bottom 30px
  p
    font-size 14px
    color _main-black
    line-height 22px
    letter-spacing 0.3px
    &:not(:first-of-type)
      padding-top 20px
  h4
    padding-top 38px
    font-size 18px
    font-family 'Lato-Bold'
    letter-spacing 0.5px

.about-btn
  display inline-block
  margin 22px 0
  color #fff
  font-size 16px
  height 40px
  line-height 40px
  padding 0 46px
  background _main-color
  text-decoration none
