.basket-block
  padding-bottom 50px
.basket-table
  padding-top 33px
  table
    width 100%
    th
      height 52px
      text-align left
      background _main-color
      vertical-align middle
      color #fff
      font-size 16px
      letter-spacing 0.9px
      line-height 14px
      font-family 'Lato-Bold'
      &:nth-child(1)
        padding-left 20px
    td
      height 120px
      border-bottom _main-color solid 1px
      vertical-align middle
      &:nth-child(1)
        border-left _main-color solid 1px
        padding 20px 0 17px 20px
        width 170px
        img
          height 80px
      &:nth-child(2)
        width 330px
        font-size 14px
        color #b3b3b3
        line-height 24px
        letter-spacing 0.9px
        a
          color: _main-color
          display block
          font-weight bold
          font-size 16px
          font-family 'Lato-Bold'
          text-decoration none
      &:nth-child(3)
        width 200px
        .ui-spinner
          float left
          margin 0
      &:nth-child(4)
      &:nth-child(5)
        width 200px
        letter-spacing 1px
        font-family 'Lato-Bold'
        font-size 18px
        color #242424
      &:nth-child(6)
        border-right _main-color solid 1px

.basket-itogo
  padding-top 16px
  height 56px
  &:after
    content ''
    display block
    height 0
    clear both
  .basket-promo
    float left
    input[type="text"]
      float left
      width 170px
      padding 0 14px
      font-size 14px
      height 40px
      outline none
      border _main-color solid 1px;
    input[type="button"]
      float left
      cursor pointer
      width 130px
      outline none
      height 40px
      color #fff
      background _main-color
      border _main-color solid 1px
  .basket-summa
    width 270px
    float right
    font-size 14px
    line-height 22px
    letter-spacing 0.5px
    color #242424
    div
      label
        display inline-block
        width 165px
      span
        width 105px
        &.itog
          color #0abab5
          font-family 'Lato-Bold'
          font-size 16px
.basket-button
  height 40px
  clear both
  margin-top 19px
  text-align right
  a.finish-order
    background #0abab5
    width 170px
    min-width 170px
    height 40px
