.main-content
  position relative
  &:before
    content ''
    background url('../img/main-content-bg.jpg') no-repeat
    display block
    position absolute
    top 0
    width 100%
    height 120px
    z-index -1
  &--full
    .header-main
      height 75px
    &:before
      height 800px


.section-main-slider
  position relative

.slider-item
  position relative
  outline none

.slick-prev
.slick-next
  position absolute
  top 37%
  transform rotate(180deg)
  width 39px
  height 76px
  background url(../img/slider-arr.png) no-repeat
  &:hover
    background url(../img/slider-arr-active.png) no-repeat
    transform rotate(0deg)

.slick-prev
  left 32px
  position absolute
  // transform rotate(180deg)

.slick-next
  right 40px
  position absolute
  transform rotate(360deg)
  &:hover
    background url(../img/slider-arr-active.png) no-repeat
    transform rotate(180deg)

.slide-img
  position relative
  top 0
  left 26px

.slider-text
  text-transform uppercase
  position relative
  top 185px
  right 155px

.slider-title
  font-size 24px
  color _main-black
  letter-spacing 1.2px

.slider-title--big
  font-size 65px
  color _main-color
  padding-top 10px


.slider-title--big
.slider-lead
  font-family 'Days Sans'


.slider-lead
  padding-top 6px
  letter-spacing 1.6px
  span
    font-size 28px

.slider-lead--small
  padding-top 16px
  font-size 15px

.slider-btn-wrapper
  padding-top 37px

.slider-btn
  display inline-block
  border 1px solid _main-black
  color _main-black
  font-size 14px
  padding 0 42px
  height 40px
  text-align center
  vertical-align middle
  line-height 40px
  text-decoration none
  &:first-child
    margin-right 15px


// section-body-btns

.section-body-btns
  padding 28px 0



.body-btn
  text-decoration none
  display inline-block
  border 1px solid _main-color
  color _main-color
  background #fff
  height 40px
  line-height 40px
  font-size 16px
  padding 0 36px
  transition 0.4s
  margin 0 15px
  &:hover
    color #fff
    background _main-color
    transition 0.4s



//grid
.section-grid
  padding-top 12px

.grid-block
  float left
  position relative
  border 1px solid #f5f5f5
  margin-right 30px
  margin-bottom 30px

.grid-block--normal--vertical
  float right
  position relative
  border 1px solid #f5f5f5
  width 270px
  height 570px
  .title
    position absolute
    top 220px
    left 40px
    font-family 'Lato-Bold'
    font-size 20px
    color _main-black
    text-transform uppercase
    letter-spacing 0.7px
    span
      display block
      font-size 24px
      font-family 'Days Sans'
      padding-top 10px
      letter-spacing -0.6px

.grid-block--small
  width 270px
  height 270px
  .title
  .price
  .age
    position absolute
  .title
    color _main-color
    font-size 18px
    text-transform uppercase
    letter-spacing 1px
    left 15px
    top 15px
    line-height 23px
  .price
  .age
    color #b3b3b3
    font-size 14px
  .price
    top 42px
    left 15px
    line-height 16px
  .price-2
    top 100px
  .age
    bottom 15px
    left 15px

.grid-block--normal--right
  text-align right
  padding-right 15px
  .link
    right 15px

.grid-block--normal
  background #f5f5f5
  width 570px
  height 270px
  padding-left 20px
  padding-top 50px
  .img-wrapper img
    position absolute
    top 0
    left 0
    right 0
    bottom 0
  .title
  .title--big
  .lead
  .link
    position relative
    z-index 2
  .title
    color _main-black
    font-size 18px
    text-transform uppercase
    letter-spacing 1px
  .title--big
    text-transform uppercase
    color _main-color
    font-family 'Days Sans'
    font-size 24px
    padding-top 10px
    span
      font-size 28px
  .lead
    color #b3b3b3
    font-size 15px
    padding-top 10px
  .link
    text-decoration none
    color _main-color
    text-transform uppercase
    position absolute
    left 20px
    letter-spacing 0.7px
    bottom 21px


.section-benefits
  background _main-color
  margin-top 41px
  padding-bottom 65px
  .title
    text-transform uppercase
    font-size 26px
    font-family 'Days Sans'
    text-align center
    padding-top 45px
    color #fff
    padding-bottom 35px


.benefits-box
  color #fff
  width 22.2%
  margin: 15px
  display inline-block
  vertical-align top
  .benefits-title
    text-transform uppercase
    font-family 'Days Sans'
    font-size 16px
    padding-top 40px
  .lead
    font-size 13px
    padding-top 22px
    line-height 18px


.section-clients
  text-align center
  .title
    text-transform uppercase
    font-size 26px
    font-family 'Days Sans'
    text-align center
    padding-top 68px
    color _main-black
    padding-bottom 15px
  .buttom
    text-align center
    padding-bottom 54px
    .btn
      border #85ddda solid 1px
      color _main-color
      width 170px
      min-width 170px
      display inline-block
      margin 0 15px


.clients-slider-img
  overflow hidden
  width 700px
  height 496px
  margin-left auto
  margin-right auto
  .slick-next
  .slick-prev
    border none
    left 3px
    top 112px
    cursor pointer
    outline none
    text-indent -9999px
    transform rotate(0)
    background url(../img/slider-arr2.png) no-repeat center
    z-index 100
  .slick-next
    left auto
    right 0
    transform rotate(180deg)
  .slick-next:hover
  .slick-prev:hover
    transform rotate(180deg)
    background url(../img/slider-arr2-hover.png) no-repeat center
  .slick-next:hover
    transform rotate(0)
    background url(../img/slider-arr2-hover.png) no-repeat center
  .slider-item
    position relative
    height 500px
    .text-wraper
      display none
  .img-wrapper
    height 300px
    position relative
    &:after
      content ''
      position absolute
      left 0
      right 0
      top 0
      bottom 0
      background rgba(#fff, 0.5)
    img
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      border-radius 50%
      width 100px
      height 100px
  .slick-current.slick-active.slick-center
    &:before
      position absolute
      content ''
      display block
      top 0
      left 50%
      width 230px
      height 300px
      transform translate(-50%, 0)
      background url(../img/person-hover.png) no-repeat center
    .img-wrapper
      &:after
        display none
      height 300px
      img
        width 170px
        height 170px
    .text-wraper
      width 720px
      display block
      font-size 14px
      line-height 24px
      color _main-black
      position absolute
      top 300px
      left 50%
      transform translate(-50%, 0)
      .info
        height 110px
      .avtor
        font-size 16px
        font-family 'Lato-Bold'
        color _main-black
        line-height 22px
      .prof
        font-size 14px
        color #999999
        line-height 22px
