.header-main
  height 109px

.btn
  min-width 270px
  height 40px
  line-height 40px
  display inline-block
  text-decoration none
  font-size 16px
  color #fff
  text-align center
  &-blue
    background #0abab5
  &-buy
    background #0abab5
    min-width 140px
    width 140px

.rightblock
  width 870px
  position relative
  left 300px
  font-family 'Lato-Regular'
  float left

.leftblock
  font-family 'Lato-Regular'
  width 271px
  position relative
  right 870px
  float left
  position relative

.catalog-name
  font-size 18px
  line-height 15px
  letter-spacing 1px
  text-transform uppercase
  color #242424
  padding-bottom 12px

.catalogzagal
  font-family 'Days Sans'
  font-size 24px
  color #0abab5

.catalog---list
  margin-bottom 15px
  &:after
    clear both
    display block
    height 0
    content ""

h2.h2title
  font-family 'Days Sans'
  font-size 16px
  color #242424
  text-transform uppercase
  padding-bottom 20px

.catalog--item
  position relative
  float left
  width 270px
  min-height 430px
  margin-right 30px
  &:nth-child(3n)
    margin-right 0
  &:nth-child(3n+1)
    clear both
  &--wrap-img
    display block
    padding-bottom 8px
    img
      display block
  &--title
    font-family 'Lato-Bold'
    font-size 16px
    color #242424
    text-decoration none
    letter-spacing 0.9px
  &--firma
    font-family 'Lato-Regular'
    font-size 14px
    color #b3b3b3
    padding 10px 0
    letter-spacing 1.1px
  &--price
    font-family 'Lato-Bold'
    font-size 18px
    letter-spacing 1.3px
    color #0abab5
  &--price-old
    font-family 'Lato-Regular'
    font-size 16px
    color #ccc
    display inline-block
    text-decoration line-through
    letter-spacing 0.9px
    padding-left 10px
  &--sale
    position absolute
    right 0
    top 0
    width 60px
    height 27px
    background #f8462f
    text-align center
    text-transform uppercase
    line-height 31px
    font-size 13px
    color #fff
    &:after
      position absolute
      content ''
      top 100%
      left 0
      width 60px
      height 13px
      background url(../img/sale-bg.png) no-repeat
      display inline-block
  &--new
    position absolute
    right 0
    top 0
    width 60px
    height 27px
    background #0abab5
    text-align center
    text-transform uppercase
    line-height 31px
    font-size 13px
    color #fff
    &:after
      position absolute
      content ''
      top 100%
      left 0
      width 60px
      height 13px
      background url(../img/new-bg.png) no-repeat
      display inline-block

.page-nav
  margin-bottom 47px
  &:after
    clear both
    display block
    height 0
    content ""
  .pager--list
    float right

.pager--list
  padding-top 11px
  display inline-block
  li
    list-style none
    padding-left 6px
    display inline-block
    &:nth-last-child(1)
      padding-left 10px
    &:nth-child(1)
      padding-right 4px
    a, span
      font-size 10px
      width 20px
      height 20px
      color #666
      line-height 20px
      text-align center
      display inline-block
      text-decoration none
    a
      border #0abab5 solid 1px
      &:hover
        background #0abab5
        color #fff
  li
    a:hover
      background #0abab5
      color #fff

.filter-block
  padding-top 22px
  padding-left 1px
  a.url-clear
    font-size 16px
    color #0abab5
    font-family 'Lato-Bold'
    display block
    margin-top 23px
    line-height 20px
    letter-spacing 0.5px


.filter--item
  border #0abab5 solid 1px
  padding 15px 15px 5px
  margin-bottom 10px
  &--name
    font-size 14px
    color #242424
    font-family 'Lato-Bold'
    padding-bottom 15px
    letter-spacing 1px
  &--sum
    height 25px
    margin-bottom 17px
    input
      float left
      width 84px
      height 25px
      border #cccccc solid 1px
      font-size 14px
      color #999999
      padding 0 10px
    span
      width 51px
      height 25px
      float left
      display inline-block
      position relative
      &:after
        content ''
        position absolute
        display inline-block
        left 19px
        top 13px
        height 2px
        width 11px
        height 2px
        background #0abab5
  a.filter-url
    text-decoration none
    display block
    color #b3b3b3
    font-size 14px
    padding-bottom 10px
    letter-spacing 0.3px
    &:after
      content: "x"
      display inline-block
      padding-left 14px
      position relative
      top -1px
    &:hover
      color #0abab5
  a.filter-url2
    display inline-block
    width 96px
    height 30px
    margin-right 7px
    margin-bottom 10px
    line-height 30px
    font-size 14px
    text-align center
    color #333
    text-decoration none
    border #0abab5 solid 1px
    &:hover, &.active
      color #fff
      background #0abab5
    &.big
      width 115px
      margin-right 2px

#slider-range
  width 220px
  margin-bottom 20px
  border-top #e5e5e5 solid 2px
  border-bottom #f1f1f1 solid 2px
  position relative
  height 4px
  .ui-slider-range
    border-top #0ba6a1 solid 2px
    border-bottom #0abab5 solid 2px
    position absolute
    top -2px
    height 4px
  .ui-slider-handle
    outline: none
    display inline-block
    position absolute
    top -10px
    margin-left -5px
    width 15px
    height 22px
    background url(../img/slider-handle-bg.png) no-repeat

.checkbox
  height 20px
  margin-bottom 9px
  position relative
  input
    position absolute
    left 0
    right 0
    cursor pointer
    opacity: 0
  label
    padding-left 35px
    display block
    height 20px
    font-size 14px
    color #666
    line-height 20px
    cursor pointer
    background url(../img/checkbox-bg.png) no-repeat
  input:checked ~ label
    background url(../img/checkbox-bg.png) no-repeat 0 -20px

.checkbox-color
  width 30px
  height 30px
  display inline-block
  position relative
  margin 0 6px 6px 0
  input
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    opacity 0
    display block
  label
    display block
    position absolute
    left 0
    top 0
    right 0
    cursor pointer
    bottom 0
  input:checked ~ label
    background url(../img/checkbox-color.png) no-repeat center
