.full-wrapper
  background url('../img/full-bg.jpg') no-repeat center center
  min-height 300px
  .inside-block
    text-align center
    padding-top 71px
    .inside-title
      font-size 26px
      font-family 'Days Sans'
    .inside-lead
      font-size 14px
      text-transform uppercase
      padding-top 18px
    form
      font-size 0
      padding-top 46px
      input
        min-height 40px
        box-shadow none
        font-family 'Lato-Regular'
        outline none
      input[type='text']
        width 51.5%
        padding-left 20px
        border 1px solid _main-color
        color #666
        background rgba(#fff, 0.4)
      input[type='submit']
        width 14.5%
        background _main-color
        border none
        font-size 14px
        color #fff
        cursor pointer

.main-footer
  padding-top 28px


.footer-block--main
  width 18%
  margin-right 7.5%

.footer-block--secondary
  width 18%
  margin-right 7.7%
  &:last-child
    margin-right 0

.logo--footer
  color _main-gray
  max-width 172px
  .logo-text
    padding 12px 0 0 16px

.logo.logo--footer
  padding-top 0

.footer-text
  color _main-gray
  font-size 12px
  padding-top 20px

.footer-title
  font-size 14px
  font-family 'Lato-Bold'
  color _main-black
  text-transform uppercase
  padding-top 21px
  letter-spacing 0.9px

.footer-main-info
  padding-top 25px
  line-height 18px

.footer-info
  padding-top 20px

.footer-link
  color _main-gray
  transition .4s
  display block
  line-height 25px
  &:hover
    transition .4s
    color _main-color
  &--main
    font-size 16px
    color _main-color
    letter-spacing 0.3px
    margin-top 42px
