_main-color = #0abab5
_main-black = #242424
_main-gray  = #999999

.page-header
  background rgba(#fff, 0.5)

.header-main
  height 75px

.header-top
  font-size 14px
  padding 15px 0 12px
  border-bottom: 1px solid _main-color
.header-links
  text-align right
a.header-link
  text-decoration none
  color _main-black

  &--phone
    letter-spacing 0.1px
    &:first-child
      padding-right 22px
    &:nth-child(2)
      padding-right 26px
  &--link
    letter-spacing 0.3px
    color _main-color
    text-decoration underline


.logo
  padding-top 13px
  display block
.logo-text
  font-family 'Lato-Bold'
  font-size 24px
  padding 16px 0 0 8px
  color _main-black


.header-padding
  padding 25px 0

.header-menu
  display inline-block
  vertical-align middle
  li
    display inline-block
    padding 0 12px
  .menu-item
    color _main-black
    text-decoration none
    transition 0.4s
    &:hover
      transition 0.4s
      color _main-color



.header-ico
  display inline-block
  vertical-align middle
  height 21px
  margin 0 3px 0 14px

.header--search
  width 21px
  background url('../img/search-ico.png') no-repeat center center

.header--basket
  width 25px
  background url('../img/basket-ico.png') no-repeat center center
  position relative
  .basket-counter
    position absolute
    background _main-color
    border-radius 50%
    color #fff
    font-size 12px
    font-weight 700
    padding 2px 4px
    right -3px
    bottom -12px
