.product-item
  h1
    font-family 'Days Sans'
    font-size 16px
    color #242424
    line-height 13px
    text-transform uppercase
    padding-bottom 27px
  h2
    font-size 18px
    color #333
    font-family 'Lato-Bold'
    letter-spacing 0.6px
    padding-bottom: 15px;

.product-description
  font-size 14px
  line-height 24px
  color #333
  letter-spacing 0.3px
  padding-bottom 20px
  p
    padding-bottom 15px

.product
  &--razmeri
    padding-bottom 20px
    span
      display inline-block
      width 80px
      height 30px
      border #0abab5 solid 1px
      line-height 30px
      text-align center
      font-size 14px
      color #333
      margin-right 7px
  &--color
    margin-top -7px
    padding-bottom 20px
    span
      display inline-block
      width 30px
      height 30px
      margin-right 7px
  &--price
    margin-top: -11px;
    .col-buy
      float right
      position relative
      top -8px
    span
      font-size 30px
      color #0abab5
      font-family 'Lato-Bold'
      letter-spacing: 1px;
    .btn-buy
      float right
      display block

  &--info
    width 470px
    float right
    h3
      font-size 18px
      color #333
      font-family 'Lato-Bold'
      letter-spacing 0.5px
      padding-bottom 20px
    table
      margin-bottom 7px
      th
        text-align left
        width 200px
        height 30px
        font-size 14px
        color #333
        vertical-align top
        letter-spacing 0.5px
        font-family 'Lato-Bold'
      td
        height 30px
        letter-spacing 0.5px
        vertical-align top
        font-size 14
        color #333
        font-family 'Lato-Regular'
  &--content
    &:after
      content ''
      display block
      height 0
      clear both
  &--img
    margin-bottom 23px
    float left
    width 370px
    display block
  &--img-big
    display block
    padding-bottom 20px
    img
      display block
      width 100%
  &--img-small
    margin-bottom 20px
    display block
    li
      list-style none
      float left
      position relative
      display block
      margin-right 20px
      img
        display block
      &:nth-child(3n)
        margin-right 0
      &.active
        &:before
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(136, 183, 213, 0);
          border-bottom-color: #e2e2e2;
          border-width: 10px;
          margin-left: -10px;
        &:after
          content ''
          position absolute
          left 0
          right 0
          bottom 0
          top 0
          border #e2e2e2 solid 1px

.ui-spinner
  margin-right 15px
  float right
  width 97px
  height 30px
  display block
  margin-top 4px
  border #cccccc solid 1px
  position relative
  .ui-button-icon-space
    width 30px
    height 30px
    text-align center
    display inline-block
    line-height 30px
    font-size 14px
    color #333
    position absolute
    left 0
    top 0
  .ui-spinner-input
    position absolute
    text-align center
    top 0px
    font-size 14px
    outline none
    color #333
    left 30px
    width 37px
    height 28px
    background #fff
    border none
  .ui-spinner-down
    position absolute
    left -1px
    top -1px
    height 30px
    width 30px
    cursor pointer
    border #cccccc solid 1px
    &:hover
      border #0abab5 solid 1px
  .ui-spinner-up
    position absolute
    right -1px
    top -1px
    height 30px
    cursor pointer
    width 30px
    border #cccccc solid 1px
    &:hover
      border #0abab5 solid 1px
