@import 'stylus-templates/linker'
@import 'stylus-templates/slick'
@import 'stylus-templates/header'
@import 'stylus-templates/body'
@import 'stylus-templates/footer'
@import 'stylus-templates/catalog'
@import 'stylus-templates/item'
@import 'stylus-templates/about'
@import 'stylus-templates/basket'



@font-face
  font-family 'Lato-Regular'
  src url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Lato-Regular.woff') format('woff'), url('fonts/Lato-Regular.ttf')  format('truetype'), url('fonts/Lato-Regular.svg#Lato-Regular') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Lato-Bold'
  src url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/Lato-Bold.woff') format('woff'), url('fonts/Lato-Bold.ttf')  format('truetype'), url('fonts/Lato-Bold.svg#Lato-Bold') format('svg')
  font-weight 700
  font-style normal

@font-face {
    font-family: 'Days Sans';
    src: local('Days Sans Black'), local('DaysSansBlack'), url('fonts/dayssansblack.woff2') format('woff2'), url('fonts/dayssansblack.woff') format('woff'), url('fonts/dayssansblack.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


html
	font-family 'Lato-Regular'
	-webkit-font-smoothing antialiased

.row
  margin-right -15px
  margin-left -15px


.fl-l
  float left
.fl-r
  float right

.clearfix
  &:after
    content ""
    display block
    clear both

.container
  width 1170px
  margin 0 auto
  &:before
  &:after
    content " " // 1
    display table // 2
    clear both
